html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

b {
  color: #3e3b3f;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #fff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

a:focus {
  outline: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo {
  position: absolute;
  left: 20px; 
}

.logo-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo-link:hover {
  color: #8e44ad; 
}

.navbar {
  display: flex;
  justify-content: center; 
}

.nav-link {
  margin: 0 15px; 
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -5px;
  background-color: #8e44ad;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover,
.nav-link.active {
  color: #8e44ad;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.header-image-container {
  width: 100%;
  height: 60vh; 
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.header-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

.header-overlay h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.header-overlay h1:hover {
  color: #8e44ad; 
}

.header-overlay p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8); 
  transition: color 0.3s ease;
}

.header-overlay p:hover {
  color: #e1e1e1; 
}

.home-page {
  position: relative;
  height: 60vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* .overlay {
  background-color: rgba(75, 0, 130, 0.5);
  padding: 20px;
  border-radius: 10px;
} */

.title {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.services-section {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.section-title {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 26px;
  letter-spacing: 2px;
  font-weight: bold;
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.service-item {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 30%;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(22, 22, 63);
}

.service-item p {
  font-size: 16px;
  color: #555; 
}

.award-info {
  font-family: 'Montserrat', sans-serif;
  color: #16163F; 
  padding: 60px 40px; 
  max-width: 1200px; 
  margin: 40px auto; 
  line-height: 1.8; 
}

.award-title {
  font-size: 36px; 
  font-weight: 700; 
  margin-bottom: 30px; 
  color: #3e0a78; 
  text-align: center;
  letter-spacing: 1px;
}

.award-text {
  margin-bottom: 25px; 
  font-size: 20px;
  color: #3e3b3f; 
}

.award-text:last-child {
  margin-bottom: 0;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 20px;
  background-color: #fff;
}

.card {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  color: #8e44ad;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.card-button-container {
  text-align: center; 
}

.card-button {
  display: inline-block; 
  padding: 10px 20px;
  background-color: #16163F; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; 
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #333366; 
}

.testimonials-section {
  background-color: #9E3FFD; 
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.testimonials-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7); 
}

.testimonial {
  max-width: 800px;
  margin: 0 auto;
}

.testimonial-quote {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.testimonial-author {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.testimonial-company {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7); 
}

.testimonial-dots {
  margin-top: 40px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active,
.dot:hover {
  background-color: rgba(255, 255, 255, 1);
}

.text-image-section {
  display: flex;
  align-items: stretch;
  height: 100vh; 
}

.image-content {
  flex: 1;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  flex: 1;
  padding: 60px 40px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-content h2 {
  color: #8e44ad;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: center;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: bold;
}

.text-content p {
  font-size: 20px;
  color: #16163F;
  line-height: 1.8;
  margin-bottom: 15px;
}

.position-page {
  font-family: 'Montserrat', sans-serif;
  color: #16163F; 
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.8; 
}

.position-title {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.position-content h2 {
  font-size: 28px; 
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #8e44ad; 
}

.position-content p {
  font-size: 20px; 
  color: #3e3b3f; 
  margin-bottom: 15px;
}

.position-content ul {
  padding-left: 30px; 
  list-style-type: none; 
}

.position-content ul li {
  margin-bottom: 12px; 
  position: relative; 
}

.position-content ul li::before {
  content: '';
  position: absolute;
  left: -25px; 
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px; 
  background-color: #9E3FFD; 
  border-radius: 50%;
}

.criteria-page {
  font-family: 'Montserrat', sans-serif;
  color: #16163F; 
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.8;
}

.criteria-title {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.criteria-content h2 {
  font-size: 28px; 
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #8e44ad; 
}

.criteria-content p {
  font-size: 20px; 
  color: #3e3b3f; 
  margin-bottom: 15px;
}

.criteria-content ul {
  padding-left: 50px; 
  list-style-type: none; 
}

.criteria-content ul li {
  margin-bottom: 10px; 
  position: relative; 
}

.criteria-content ul li::before {
  content: '';
  position: absolute;
  left: -25px; 
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px; 
  background-color: #9E3FFD; 
  border-radius: 50%;
}

.winners-page {
  font-family: 'Montserrat', sans-serif;
  color: #333; 
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.8;
}

.page-title {
  color: #8e44ad; 
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.year-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.year-button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f8f0ff; 
  color: #16163F; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.year-button:hover,
.year-button.active {
  background-color: #16163F; 
  color: #fff; 
}

.winners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.winner-card {
  background-color: #f8f0ff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.winner-card:hover {
  transform: translateY(-5px); 
}

.winner-category {
  font-size: 22px;
  font-weight: bold;
  color: #8e44ad;
  margin-bottom: 10px;
}

.winner-name {
  font-size: 18px;
  color: #2C3E50;
}

.selected-year {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.jury-page {
  font-family: 'Montserrat', sans-serif;
  color: #333; 
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.8;
}

.jury-page p {
  font-size: 20px; 
  color: #3e3b3f; 
  margin-bottom: 15px;
}

.list {
  padding-left: 30px; 
  list-style-type: none; 
}

.list li {
  margin-bottom: 12px; 
  position: relative; 
}

.list li::before {
  content: '';
  position: absolute;
  left: -25px; 
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px; 
  background-color: #9E3FFD; 
  border-radius: 50%;
}
.page-title {
  color: #8e44ad; 
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
}

.year-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.year-button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f8f0ff; 
  color: #16163F; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.year-button:hover,
.year-button.active {
  background-color: #16163F; 
  color: #fff; 
}

.jury-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jury-guild {
  background-color: #f8f0ff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



.jury-guild:hover {
  transform: translateY(-5px); 
}

.guild-title {
  font-size: 22px;
  font-weight: bold;
  color: #8e44ad;
  margin-bottom: 10px;
}

.guild-members {
  list-style-type: none;
  padding-left: 20px;
}

.guild-member {
  font-size: 18px;
  color: #2C3E50;
  margin-bottom: 5px;
}

.gallery-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-title {
  color: #8e44ad; 
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.3em;
    text-align: center;
    font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}

.footer-section {
  background-image: url('./img/footer.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #f9fafa;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 1;
  margin-right: 40px;
}

.footer-info h3 {
  color: #8e44ad;
  margin-bottom: 20px;
}

.footer-info p {
  color: #16163F;
  font-size: 16px;
  margin-bottom: 20px;
}

.social-icons a {
  color: #16163F;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #8e44ad;
}

.contact-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  font-size: 14px;
  color: #4A4A4A; 
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #d3d3d3; 
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom-color: #9E3FFD; 
}

textarea {
  resize: none;
}

.submit-button {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #9E3FFD; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #6e5cb6; 
}


@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .submit-button {
    width: 100%;
  }
}